# Sample configuration
[wlp0s20f3]
	discover_timeout = 30
	fail_test = honeycheck.modules.script.Script
	fail_test_script_path = scripts/zenity_fail.sh

	pass_test = honeycheck.modules.script.Script
	pass_test_script_path = scripts/zenity_pass.sh
